h1
{	
  text-align : center;
	font : 40px comic sans ms; 
}
a:link, a:visited
{
  color : blue;
}
input[type=radio]
{	
	font : 40px comic sans ms; 
}
img
{
	position : fixed;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	z-index : -1;
	opacity : 0.8;
}
